@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
/* font-family: 'Mulish', sans-serif; */

body {
  background-image: url("../images/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* container */
.container {
  background-image: url("../images//form-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 50%;
  /* height: 60%; */
  padding: 3%;
  border-radius: 20px;
  box-shadow: 15px 11px 5px 0px rgba(52, 52, 52, 0.75);
}

/* inputs */

.elipse {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid rgb(180, 178, 178);
}

.input {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
/* .input:not(:first-child) {
  width: 70%;
} */

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.double,
.input {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.double > .input {
    flex-basis: 50%;
    margin-right: 0px;
}

/* form btn */

#button {
  border-radius: 20px;
  background-color: rgb(191, 3, 3);
  color: white;
}
