:root {
    --clr-primary: #e20813;
    --clr-black: #000000;
    --clr-white: #fff;
    --clr-grey: #222;

    --shadow-md:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-xl:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* 1rem = 16px */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-black);
    color: var(--clr-white);
}

/* Component-button */
.btn {
    position: relative;
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 0.25rem;
    padding: 0.125rem 0.75rem;
    cursor: pointer;
    box-shadow: var(--shadow-md);
    transform: scale(1);
    bottom: 0;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
    bottom: 0.125rem;
    background-color: var(--clr-white);
    color: var(--clr-primary);
    box-shadow: var(--shadow-xl)
}


/* Header */

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header img {
    height: 40px;
}