:root {
  --clr-primary: #e20813;
  --clr-black: #000000;
  --clr-white: #fff;
  --clr-grey: #222;

  --p-x: 1rem;
  --p-y: 2rem;
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* 1rem = 16px */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

@media (min-width: 768px) {
  :root {
    --p-x: 2rem;
    --p-y: 4rem;
  }

  /* html {
    font-size: 18px;
  } */
}

@media (min-width: 1024px) {
  :root {
    --p-x: 2rem;
    --p-y: 4rem;
  }

  html {
    font-size: 20px;
  }
  
  .input-wrapper {
    min-width: 860px;
  }

  .input-wrapper .input {
    width: calc(100% - 260px);

  }

  .input-wrapper .btn {
    min-width: 260px;

  }
}

@media (min-width: 1440px) {
  :root {
    --p-x: 3rem;
    --p-y: 5rem;
  }

  html {
    font-size: 26px;
  }
}
/* Component-button */
.btn {
  position: relative;
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 0.25rem;
  padding: 0.125rem 0.75rem;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transform: scale(1);
  bottom: 0;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  bottom: 0.125rem;
  background-color: var(--clr-white);
  color: var(--clr-primary);
  box-shadow: var(--shadow-xl);
}

/* Component-section */
section {
  border-bottom: 5px solid var(--clr-grey);
}

/* Component-input */
.input-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.input-wrapper .input {
  width: 100%;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-md);
}

@media (min-width: 640px) {
  .input-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    row-gap: unset;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
  }

  .input-wrapper .input {
    width: calc(100% - 160px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .input-wrapper .btn {
    width: 160px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .input-wrapper .btn:hover {
    transform: unset;
    bottom: unset;
    box-shadow: unset;
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }
}

/* Header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.header img {
  height: 40px;
}

/* Hero section */

#hero {
  height: 100vh;
  position: relative;
  padding: 0 var(--p-x);
}

#hero .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

#hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .content .title {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

#hero .content .sub-title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

#hero .content .sub-title:last-of-type {
  margin-bottom: 0.5rem;
}

#hero .content .hint {
  font-size: 1rem;
  font-weight: 400;
}

#hero .input-wrapper {
  margin-bottom: 1rem;
}

/* Section  class feature*/

.feature-section {
  padding: var(--p-y) var(--p-x);
  text-align: center;
}

.feature-section .content {
  margin-bottom: 1rem;
}

.feature-section .content .title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.feature-section .content .desc {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.feature-section .feature-img {
  width: 100%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feature-section {
    text-align: left;
  }

  .feature-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.25rem;
  }
  .feature-section:nth-of-type(odd) .feature-img {
    order: -1;
  }

  .feature-section .feature-img {

    max-width: unset;

  }
}
/* FAQ */

#faq {
  padding: var(--p-y) 0px;
}

#faq .title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
#faq .questions {
  margin-bottom: 2rem;
}
#faq .questions > * + * {
  margin-top: 0.5rem;
}

#faq .questions .question {
  background-color: var(--clr-grey);
  padding: 0.5rem var(--p-x);
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

#faq .questions .question .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq .questions .question .line .text {
  font-weight: 400;
}

#faq .questions .question .line .btn-icon {
  background-color: transparent;
  border: none;
  color: var(--clr-white);
  padding: 0px;
  line-height: 1;
  font-size: 2rem;
  transition: all 300ms ease-in-out;
}

#faq .questions .question .line .btn-icon:hover {
  transform: rotate(45deg);
}

#faq .subscribtion {
  padding: 0px var(--p-x);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#faq .subscribtion .title {
  font-weight: 500;
  margin: 0px auto 1rem auto;
  max-width: 680px;
}

/* MEDIA */
