@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
body{
  font-family: Helvetica, sans-serif;
}
/* header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 130px;
  height: 200px;
  font-size: 22px;
  color: #4e5771;
}

header img {
  background-image: linear-gradient(
    to bottom,
    #c8ac53,
    #ba9a43,
    #ac8933,
    #9e7824,
    #906713
  );
  height: 200px;
  padding: 30px;
  z-index: 1;
  margin-top: 20px;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-wrapper ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.nav-wrapper ul li {
  text-align: center;
}
.nav-wrapper ul li:hover {
}
.nav-wrapper ul li i {
  font-size: 34px;
}
/* main */
/* transports */

.transport {
  height: 750px;
  background-image: url("image/slider.jpg");
  background-position: center;
  background-repeat: no-repeat;

  background-size: 125%;
  overflow: hidden;
}

.transport-info{
  background-color: rgba(0,0,0,.5);
  color: #fff;
  width: 560px;
  margin-top: 250px;
  margin-left: 130px;
  padding: 30px;
}

.transport-info h2{
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.transport-info p{
font-size: 20px;
margin-bottom: 30px;
}

.transport-info button{
color: #f8a303;
background-color: transparent;
font-size: 32px;
border: 4px solid white;
}


/* cards */

.cards{
  /* width: 600px; */
  margin: 0 auto;
  background-image: linear-gradient(to right, #95660a, #a47717, #b38824, #c29a30, #d0ac3c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}

.card__extras-wrapper{
  width: 650px;
}

.cards h2{
margin: 20px auto;
font-size: 28px;
}
.card__extras-wrapper p{
font-size: 22px;
margin-bottom: 12px;
}

.cards button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px 28px;

}