@media (max-width: 600px) {
    /* header */
    /* nav top-bar */
  #top-bar ul li:nth-child(4){
    display: none;
  }

  /* nav main-menu */

    #main-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }

    #main-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* main */

    #left-aside{
        display: flex;
        justify-content: space-around;
    }

    #left-aside article{
        border: none;
    }

    /* news */
    #news{
        display: flex;
        flex-direction: column;
        width: unset;
        margin: 10px;
    }
    #news article{
        width: unset;
    }
}
