@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
  font-family: "Raleway", sans-serif;
}
section {
  background-color: #efefef;
  margin: 40px;
}

/* top section */
.top {
  display: flex;
  padding: 20px 50px 0px 20px;
}
.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
  font-size: 24px;
}

.top .top__content-wrapper {
  /* align-self: center; */
  padding: 110px;
}

.top .top__content-wrapper h2 {
  padding-top: 50px;
  font-size: 52px;
  font-weight: 100;
}

.top .top__content-wrapper h2 span {
  font-weight: 700;
}


.top .top__content-wrapper p{
    margin-top: 30px;
    line-height: 1.8;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 50px;
}

.top .top__content-wrapper .divider {
  height: 90px;
  border-left: 1px solid black;
}

.top img {
  width: 50%;
  margin-top: 60px;
  /* margin-right: 80px; */
}
/* name */

.name{
    display: flex;
}
.name img{
    width: 60%;
    height: 60%;
    padding: 100px;
}
.name .name__content-wrapper{
    margin: 140px;
}
.name .name__content-wrapper .header-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.name .name__content-wrapper .header-wrapper .divider{
width: 90px;
border-bottom: 1px solid black;
}

.name .name__content-wrapper .header-wrapper h2{
    font-size: 52px;
    font-weight: 100;
}

.name .name__content-wrapper .header-wrapper h2 span{
    font-weight: 700;
}