@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

body {
  font-family: "Raleway", sans-serif;
}
section {
  background-color: #efefef;
  margin: 40px;
  height: 800px;
}

/* top section */
.top {
  display: flex;
  padding: 20px 50px 0px 20px;
}
.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
  font-size: 24px;
}

.top .top__content-wrapper {
  /* align-self: center; */
  padding: 90px 90px 0px 90px;
}

.top .top__content-wrapper h2 {
  padding-top: 50px;
  font-size: 52px;
  font-weight: 100;
}

.top .top__content-wrapper h2 span {
  font-weight: 700;
}

.top .top__content-wrapper p {
  margin-top: 30px;
  line-height: 1.8;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
}

.top .top__content-wrapper .divider {
  height: 90px;
  border-left: 1px solid black;
}

/* name */

.name {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
}
.name img {
  width: 50%;
  height: auto;
  padding: 100px;
}
.name .name__content-wrapper {
  margin: 140px 140px 140px 0px;
  width: 50%;
}
.name .name__content-wrapper .header-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.name .name__content-wrapper .header-wrapper .divider {
  width: 90px;
  border-bottom: 1px solid black;
}

.name .name__content-wrapper .header-wrapper h2 {
  font-size: 52px;
  font-weight: 100;
}

.name .name__content-wrapper .header-wrapper h2 span {
  font-weight: 700;
}

.name .name__content-wrapper p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.8;
  padding-right: 50px;
}

.name .name__content-wrapper .icon-wrapper {
  margin-top: 40px;
  display: flex;
  color: white;
  gap: 30px;
}

.name .name__content-wrapper .icon-wrapper i {
  background-color: grey;
  width: 40px;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
}

/* camera-woman */
section.camera-woman {
  height: 800px;
}

.camera-woman img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about */

.about {
  display: flex;
  padding: 120px;
  gap: 30px;
}

.about img {
  width: 60%;
}

.about__content-wrapper {
  padding: 90px 90px 0px 0px;
}

.about__content-wrapper h2 {
  padding-top: 50px;
  font-size: 52px;
  font-weight: 100;
}

.about__content-wrapper h2 span {
  font-weight: 700;
}

.about__content-wrapper p {
  margin-top: 30px;
  line-height: 1.8;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
}

.about__content-wrapper .divider {
  height: 90px;
  border-left: 1px solid black;
}

/* img section */
section.img {
  padding: 120px;
  display: flex;
  align-items: center;
  position: relative;
}

section.img img {
  width: 33%;
  height: auto;
}

section.img img:nth-child(2) {
  transform: scale(1.5);
}

/* hello */

.hello {
  padding: 0px 100px 0px 100px;
  text-align: center;
}

.hello h2 {
  padding-top: 50px;
  font-size: 52px;
  font-weight: 100;
}

.hello h2 span {
  font-weight: 700;
}

.hello p {
  font-size: 20px;
  line-height: 1.8;
  padding: 30px 200px;
}

.hello form {
  margin: 0 auto;
  width: 800px;
}

.hello form .input {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.hello form .input input {
  width: 50%;
  background-color: transparent;
  padding: 8px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 700;

}

.hello textarea {
  padding-top: 8px;
  padding-left: 8px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 30px;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 700;
  height: 200px;

}

.hello  button{
  width: 100%;
  background-color: black;
  color: white;
  padding: 6px 0px;
  font-weight: 500;
  font-size: 18px;

}

.hello .footer{
  margin-top: 100px;
}