section {
  width: 80%;
  height: 80vh;
  margin: 70px auto;
}
h1 {
  font-family: Georgia, serif;
  font-size: 80px;
}

p, button {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: gray;
}

header {
  margin-bottom: 50px;
}

.info {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 505;
}

.info__desc {
  width: 50%;
}

.info__desc .desc--heading{
    margin-bottom: 30px;
    color: black;
    font-weight: bold;
}

.info__desc .desc span{
    background-color: #cefde9;
  }

.info .btn-div{
width: 50%;
position: relative;
}

.info .btn-div button{
    position: absolute;
    bottom: 0px;
    padding: 1rem 6rem;
    background-color: #03a87c;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.divider{
    margin-top: 20px;
    width: 45%;
    margin: 150px auto;
    border-bottom: 1px solid black;
}