section {
  width: 80%;
  height: 80vh;
  margin: 50px auto;
}
h1 {
font-family: Georgia, serif;
font-size: 80px;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: gray;
}

header{
    margin-bottom: 50px;
}

