@media (max-width: 600px) {
  .banner {
    padding: 60px 20px;
  }

  .banner h2 {
    width: unset;
    font-size: 2em;
  }

  .button.special {
    width: 100%;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: unset;
}


.features {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features .feature{
    width: 100%;
}
