:root {
  --clr-grey-ligh: #ececec;
  --clr-grey-dark: #383838;
  --clr-grey-txt: hsl(90, 1%, 45%);
  --clr-grey-txt2: #eaebe7;
  --clr-orange: #e24e2a;
  --clr-green-ligh: #1b9772;
  --clr-green-dark: #1b9772;
  --clr-green-txt: #55b497;
  --clr-white: #ffffff;
}

body {
  font-family: Helvetica, sans-serif;
  position: relative;
  background-color: var(--clr-white);
}
/* HEADER */
header {
  position: sticky;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 40px 50px;
  background-color: var(--clr-white);
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--clr-grey-dark);
}
.logo h1 {
  font-size: 52px;
}
.logo p {
  padding-top: 14px;
  font-size: 20px;
  letter-spacing: 2px;
}
.divider {
  height: 3.5rem;
  border-left: 1px solid var(--clr-grey-txt);
}

ul {
  display: flex;
  /* width: 60%; */
  justify-content: space-between;
  gap: 1.5px;
}

ul li {
  background-color: var(--clr-grey-ligh);
  padding: 30px 40px;
}

ul li:nth-child(1) {
  background-color: var(--clr-orange);
}

ul li:nth-child(1) a {
  color: var(--clr-white);
}

ul li a {
  text-decoration: none;
  font-size: 22px;
  color: var(--clr-grey-dark);
  letter-spacing: 2px;
  font-weight: 500;
}

/* ADVERRTISE */
main .banner {
  position: absolute;
  top: -150px;
  width: 100%;
}

main .banner .banner__img {
  width: 100%;
}

main .banner .banner__img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner .banner__info {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  background-color: var(--clr-orange);
}

.banner .banner__info p {
  text-align: center;
  color: var(--clr-white);
  font-weight: 500;
  font-size: 21px;
  padding: 65px 200px 95px 200px;
  letter-spacing: 1px;
  line-height: 42px;
  color: var(--clr-grey-txt2);
}

.banner .banner__info p span {
  text-decoration: underline;
  color: var(--clr-white);
}
