:root {
  --clr-grey-ligh: #ececec;
  --clr-grey-dark: #383838;
  --clr-grey-txt: hsl(90, 1%, 45%);
  --clr-grey-txt2: #d1cdcd;
  --clr-orange: #e24e2a;
  --clr-green-ligh: #1b9772;
  --clr-green-dark: #1b9772;
  --clr-green-txt: #55b497;
  --clr-white: #ffffff;
  --header-hight: 153px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--clr-white);
}
/* HEADER */
header {
  position: sticky;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 40px 50px;
  background-color: var(--clr-white);
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--clr-grey-dark);
}
.logo h1 {
  font-size: 52px;
}
.logo p {
  padding-top: 14px;
  font-size: 20px;
  letter-spacing: 2px;
}
.divider {
  height: 3.5rem;
  border-left: 1px solid var(--clr-grey-txt);
}

.ul__header {
  display: flex;
  justify-content: space-between;
  gap: 1.5px;
}

.ul__header li {
  background-color: var(--clr-grey-ligh);
  padding: 30px 40px;
}

.ul__header li:nth-child(1) {
  background-color: var(--clr-orange);
}

.ul__header li:nth-child(1) a {
  color: var(--clr-white);
}

.ul__header li a {
  text-decoration: none;
  font-size: 22px;
  color: var(--clr-grey-dark);
  letter-spacing: 2px;
  font-weight: 500;
}

/* ADVERRTISE */
.banner {
  height: calc(100vh - var(--header-hight));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.banner .banner__container {
  overflow: hidden;
}

.banner .banner__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .banner__info {
  padding: 48px 0px 70px 0px;
  background-color: var(--clr-orange);
}

.banner .banner__info p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: var(--clr-white-txt);
  font-size: 21px;
  line-height: 42px;
  color: var(--clr-grey-txt2);
}

.banner .banner__info p span {
  text-decoration: underline;
  color: var(--clr-white);
  object-fit: cover;
}
