@media (max-width: 600px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  nav {
    flex-direction: column;
  }

  nav img {
    padding-bottom: 15px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  nav li {
    padding-bottom: 5px;
  }

  .header-title {
    padding: unset;
  }
  .header-title h1 {
    font-size: 35px;
  }
  .header-title p {
    font-size: 15px;
  }
  /* about us */

  .team-description-wrapper ul {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0;
  }

  .team-description-wrapper ul li img {
    width: 200px;
    height: 200px;
  }

  .choose-us ul {
    flex-direction: column;
  }

  .blog-list {
    flex-direction: column;
    align-items: center;
  }

  .blog-list .item {
    margin-bottom: 50px;
    width: 80%;
  }

  .blog-news {
    padding: 2.5rem 0px 0px 0px;
  }
}
