@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/* header */

header {
  height: 200px;
  padding-top: 70px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 180px;
}

header nav ul li a {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

/* main */
/* solo */

.solo {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.solo .wireless {
  width: 50%;
  padding: 250px 30px 200px 200px;
}

.solo .wireless h2 {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 100;
}
.solo .wireless p {
  margin-top: 50px;
  font-size: 24px;
  line-height: 2;
  margin-bottom: 50px;
}
.solo .wireless button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 100;
  padding: 20px 72px;
}

.solo img {
  right: -15px;
}

/* performance */

.performance {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fbfcff;
}

.performance .performance__power {
  width: 40%;
  /* padding-right: 100px; */
}
.performance .performance__power h2 {
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 100;
  text-align: end;

}

.performance .performance__power > h4 {
  /* padding-right: 100px; */
  text-align: end;
  font-size: 42px;
}
.performance .performance__power > h4 span {
  font-weight: 100;
}

.performance .performance__power p {
  margin-top: 100px;
  font-size: 26px;
  text-align: start;
}

.performance .performance__power .buy {
  margin-top: 150px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
}

.buy h4 {
  font-size: 64px;
}

.buy button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 100;
  padding: 20px 72px;
}

.performance img {
  width: 30%;
  height: auto;
}

/* free */

.free {
  background-color: #575757;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

.free article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 50px;
}

.free article h2 {
  font-size: 48px;
  font-weight: 100;
  text-transform: uppercase;
}

.free article h2 span {
  font-weight: 600;
}

.free a {
  font-size: 38px;
  text-transform: uppercase;
  border-bottom: 1.5px solid white;
  padding-bottom: 8px;
  font-weight: bold;
}

/* girl */
.girl {
  display: flex;
  color: #333333;
}
.girl > * {
  width: 50%;
}

.girl .life {
  background-color: #dadada;
  display: flex;
  padding: 70px 30px 40px 100px;
}

.girl .life h2{
  text-transform: uppercase;
  font-size: 190px;
  letter-spacing: -20px;
  line-height: 240px;

}

.girl .life h6{
  font-size: 80px;
  color: #333;
  font-weight: 100;
  letter-spacing: -8px;
}

.girl .life h6 span{
  color: red;
  text-transform: uppercase;
  font-weight: 700;
}
.life__info{
  padding-top: 100px;
}

.life img{
  height: auto;
  width: 70%;
}

/* footer */

footer{
  text-align: center;
  padding: 50px 0px;
}
footer h2{
  font-size: 50px;
  font-weight: 100;
}