@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
  background-image: url("../images/background.png");
  background-size: cover;
  font-family: "Mulish", sans-serif;
  position: relative;
}

article {
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/form-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 20px 20px;
  border-radius: 20px;
}

article > * {
  width: 50%;
  position: relative;
}

article form h1 {
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

article .names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

article .names .names__name {
  display: flex;
  flex-direction: column;
  width: 48%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 20px;
  border: 1px solid rgb(96, 96, 96);
  margin-bottom: 16px;
  padding: 4px;
}
label:not(:last-child) {
  margin-bottom: 4px;
}
.terms {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
}
.terms input {
  margin-bottom: unset;
}

button {
  background-color: rgb(218, 6, 6);
  border-radius: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 15%;
  padding: 4px 0px;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}
