@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
  background-image: url("../images/background.png");
  background-size: cover;
  font-family: "Mulish", sans-serif;
  position: relative;
}
main {
  position: absolute;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/form-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 20px 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
}

article {
  width: 48%;
  display: flex;
  flex-direction: column;
}

article > * {
  width: 100%;
  position: relative;
}

article form h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

article .names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

article .names .names__name {
  display: flex;
  flex-direction: column;
  width: 48%;
}

form {
  display: flex;
  flex-direction: column;
  color: rgb(90, 89, 89);
  font-size: 12px;
}

input {
  border-radius: 20px;
  border: 0.5px solid rgb(199, 198, 198);
  margin-bottom: 14px;
  padding: 6px;
}

label:not(:last-child) {
  margin-bottom: 4px;
}
.terms {
  margin-bottom: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
}

.terms input {
  margin: unset;
  filter: invert(20%) brightness(1.1);
  cursor: pointer;
}

.terms label {
  margin-left: 6px;
}

button {
  background-color: rgb(156, 6, 6);
  border-radius: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  width: 35%;
  padding: 8px 0px;
  font-size: 10px;
  /* text-align: center; */
  margin: 0 auto;
  cursor: pointer;
}
