@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&display=swap");
body {
  font-family: "Gelasio", serif;
}

/* header */
header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  color: #7f8181;
  padding: 0 20px;
  top: 30px;
  z-index: 1000;
}
header img {
  height: 100%;
}
.heder__log-in {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* main */
/* start */
.start-now {
  position: relative;
  height: 750px;
  overflow: hidden;
}
.start-now img {
  position: absolute;
  top: 0px;
  width: 100%;
}

.start-wrapper {
  width: 100%;
  position: absolute;
  top: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
}
.start-wrapper h1 {
  font-size: 80px;
  text-shadow: 2px 2px #131212;
}

.start-wrapper button {
  background-color: #146594;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 18px;
}

/* articles */
.articles {
  background-color: #e1e1e1;
  padding: 50px 200px;
}
.articles h2 {
  font-size: 42px;
  color: #5f6467;
}

.articles article {
  margin-top: 30px;
  display: flex;
  height: 700px;
  overflow: hidden;
}

.left {
  position: relative;
  width: 40%;
  overflow: hidden;
}

.left h3 {
  width: 100%;
  position: absolute;
  color: white;
  top: 50px;
  text-align: center;
  font-size: 34px;
  text-shadow: 2px 2px #131212;
  z-index: 2;
}

.left img {
  position: absolute;
  top: -90px;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right > * {
  height: 50%;
  position: relative;
}

.right .upper h3 {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 34px;
  text-shadow: 2px 2px #131212;
  z-index: 2;
}

.upper img {
  position: absolute;
  top: -110px;
}
.right .bottom{
    overflow: hidden;
}

.right .bottom h3 {
  position: absolute;
  bottom: 20px;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 34px;
  text-shadow: 2px 2px #131212;
  z-index: 2;
}

.bottom img {
  position: absolute;
  top: -110px;
}
