/* •	Use font Poppins for the headings (https://fonts.google.com/specimen/Poppins) 
•	Use font Open Sans for the paragraphs: (https://fonts.google.com/specimen/Open+Sans) 
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
button {
  font-family: "Open Sans", sans-serif;
}

/* header */
header {
  display: flex;
  padding: 30px 370px 0px 370px;
  justify-content: space-between;
  height: 100px;
}

header nav ul {
  display: flex;
  gap: 50px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #072454;
}

/* main */
/* we-care section */
.we-care {
  position: relative;
  height: 900px;
}
.we-care img {
  position: absolute;
  transform: scale(1, 0.9);
  width: 100%;
}

.we-care .contact-wrapper {
  position: absolute;
  color: white;
  top: 250px;
  left: 400px;
  width: 500px;
}

.we-care .contact-wrapper h1 {
  font-size: 88px;
  font-weight: 200;
  line-height: 1.2;
}
.we-care .contact-wrapper h1 span {
  font-weight: 700;
}

.we-care .contact-wrapper p {
  font-size: 18px;
  padding-right: 90px;
  line-height: 2;
  margin-top: 20px;
}

.we-care .contact-wrapper button {
  color: #ff3300;
  margin-top: 50px;
  border: none;
  padding: 18px 42px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
}

.we-care .dog-header {
  position: absolute;
  width: 58%;
  left: 580px;
  top: 110px;
}

/* service */
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.service h2 {
  font-size: 50px;
}

.service > p {
  text-align: center;
  padding: 0px 650px;
  line-height: 1.9;
  color: #919193;
}

.service .extra-wrapper {
  display: flex;
  margin: 0 300px;
  gap: 24px;
}

.service .extra-wrapper article {
  margin-top: 80px;
  margin-bottom: 180px;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ff3300;
  border-width: thin;
  border-radius: 10px;
}
.service .extra-wrapper article .img-wrapper {
  /* margin: 70px 0px; */
  width: 50%;
  height: 160px;
  width: 170px;
  background-image: url(images/service-bg.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .extra-wrapper article h4 {
  font-size: 28px;
}

.service .extra-wrapper article p {
  line-height: 1.8;
  color: #919193;
  padding: 10px 40px;
}

/* kitten */
.kitten {
  display: flex;
  margin: 0px 300px;
  gap: 70px;
}

.kitten .kitten__content {
  padding: 100px 120px 0px 40px;
}

.kitten .kitten__content h2 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 300;
}
.kitten .kitten__content h2 span {
  font-weight: 700;
}

.kitten .kitten__content p {
  color: #919193;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 20px;
  margin-top: 50px;
}

.kitten .kitten__content button {
  background-image: linear-gradient(
    to right,
    #f14233,
    #f1492c,
    #f05023,
    #ef571a,
    #ee5e0d
  );
  color: white;
  margin-top: 50px;
  border: none;
  padding: 18px 62px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
}

/* anipat */

.anipat {
  position: relative;
}
.anipat .contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anipat .contact {
  color: white;
}
.anipat .contact h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.anipat .contact h4 {
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  padding: 0px 50px;
}
.anipat .contact .contact-info {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.anipat .contact .contact-info button{
  color: #ff3300;
  border: none;
  padding: 18px 42px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
}

.anipat .contact .contact-info p {
  font-size: 20px;
}

.anipat .contact .contact-info p span{
  font-weight: 600;
  margin-left: 10px;
}