:root {
  --clr-green: #41bead;
  --clr-orange: #ffb402;
  --clr-blue: #66b9f8;
  --clr-blue-light: #92cdfb;
  --clr-grey: #565656;
  --clr-grey-light: #919191;
  --clr-grey-txt: #b4b9c1;
}

/* HEADER */

header {
  background-color: var(--clr-green);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin-left: 190px;
} 

header nav{
  margin-right: 30px;
}
header nav ul{
  display: flex;
  gap: 40px;
} 

.nav__ul li a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

/* MAIN */
/* TEACHERS SECTION */

.teachers-sub-head{
  height: 40vh;
  background-color: var(--clr-orange);
  color: white;
  text-align: center;
}
.teachers-sub-head .teachers__head{
  width: 45%;
  margin: 0 auto;
  padding-top: 70px;
}

.teachers-sub-head .teachers__head h1{
  font-size: 60px;
  margin-bottom: 15px;
}

.teachers-sub-head .teachers__head p{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

/* teachers */

/* .teachers{
  display: flex;
} */
.teachers-focused{
  padding: 110px;
  display: flex;
  gap: 20px;
}

.teachers-focused__left,
.teachers-focused__right{
  display: flex;
  gap: 30px;

}


.img_wrapper{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid var(--clr-blue);
}

.img_wrapper img{
  object-fit: fill;
}

.teachers-focused__info{
  width: 70%;
}

