body {
    text-align: center;
}

h1 {
    font-family: "Sentinel A", "Sentinel B", "Georgia", "Times New Roman", "Times", "serif";
    line-height: 1.15;
    color: #747474;
    font-weight: 400px;
}

span {
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    font-style: oblique;
    font-weight: 600px;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}



p {
    font-family: Graphik Regular Web, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}