body {
    background-color: rgb(216, 213, 213);
}

.first {
    background-color: rgb(216, 213, 213); 
}

.fill {
    background-color: rgb(51, 51, 51);
    color: white;
}


button {
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 8px;
    margin-right: 10px;
}

.hover.first:hover {
    border:   solid green;
}

.fill.hover:hover {
    background-color: green;
    border: 1px solid green;

}

i{
    margin-right: 5px;
}