th {
	color: white;
	background-color: black;
	border: 1px solid white;
}

td {
	color: grey;
	background-color: white;
	border: 1px solid black;
}

th,
td {
	padding: 2px 10px;
}

table {
	margin-left: 20px;
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	th {
		display: none;
	}
	td {
		display: block;
	}
}