.header h1 {
    font-size: 28px;
}

.header p {
    font-style: italic;
}

.last {
    font-size: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

section {
    margin-left: 20px;
}