/* 
Use font 'Montserrat' for the headings
Use font 'Lato' for the text
The site should open correctly in the latest version of Chrome

 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

/* header */

header {
  height: 100px;
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
}

header img{
    height: 60px;
}

header nav ul {
  display: flex;
  gap: 20px;

}
header nav ul li a{
    color: #54546d;
    font-weight: 600;
    font-size: 20px;
}

/* main */
/* taxes */

.taxes {
  background-color: #54546d;
  text-align: center;
  padding: 80px 0px 20px 0px;
  color: white;
  height: 450px;
}
.taxes img {
    color: #9b5dc6;
  display: inline-block;
  position: absolute;
  left: -90px;
  height: 280px;
}
.taxes h1 {
    font-size: 42px;
  display: inline-block;
  font-weight: 500;
}

.taxes__card-wrapper {
  display: flex;
  justify-content: center;
  padding: 0px 40px;
  gap: 32px;
  position: absolute;
  top: 290px;
  background-color: transparent;
  z-index: 1;
  text-align: center;
}

.taxes__card-wrapper > * {
  width: 29%;
  background-color: white;
  color: #54546d;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.taxes__card-wrapper article h2{
    padding-top: 40px;
    font-size: 32px;
    font-weight: 600;
}

.taxes__card-wrapper article p{
    margin-top: 10px;
    font-size: 22px;
    letter-spacing: 1px;
}

/* card-first */

.card-first button {
  background-color: #9a5dc6;
  color: white;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 44px 0px 40px 0px;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 16px 38px;
  border: none;
}
.card-first .bottom {
  background-image: linear-gradient(
    to right,
    #029a3c,
    #1da94d,
    #2eb85e,
    #3dc76f,
    #4bd680
  );
  color: white;
}

.card-first .bottom h3{
    padding: 18px;
    font-size: 32px;
    font-weight: 500;
}

.card-first .bottom p{
    padding-bottom: 20px;
}

/* card-second */

.card-second{

}