@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Poppins:wght@300;400&display=swap');


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body{
    font-family: 'Poppins', sans-serif;
    color: grey;
}