@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");
/*   */

:root {
  --clr-grey-light: #efefef;
  --clr-dark: #222222;
  --clr-dark-sub: #4c4c4c;
  --clr-white: #fff;
  --pad-section: 5rem;
}

body {
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  color: var(--clr-dark);
}

.divider{
    background-color: var(--clr-dark);
}

.divider.divider--vertical{
    width: 1px;
    height: 5rem;
}

.divider.divider--horizontal{
    width: 5rem;
    height: 1px;
}
/* 
----------------------------------
UTILITIES
----------------------------------
*/

.section {
  background-color: var(--clr-grey-light);
  padding: var(--pad-section);
  margin-bottom: 2rem;

}

.default-title {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.default-title .accent {
  font-weight: bold;
}

.default-desc{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
}

/* Header */
#header {
  display: none;
}

/* Hero */
#hero{
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
}

#hero .info{
    width: 45%;
}

#hero .info__desc {
margin-bottom: 2rem;
}

#hero .hero-img{
    position: absolute;
    bottom: 0px;
    right: var(--pad-section);
    width: 45%;
}


