@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");
/*   */

:root {
  --clr-grey-light: #efefef;
  --clr-dark: #222222;
  --clr-dark-sub: #4c4c4c;
  --clr-white: #fff;
  --pad-section: 4rem 6rem 6rem 6rem;
}

body {
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  color: var(--clr-dark);
}

.divider {
  background-color: var(--clr-dark);
}

.divider.divider--vertical {
  width: 1px;
  height: 5rem;
}

.divider.divider--horizontal {
  width: 5rem;
  height: 1px;
}
/* 
----------------------------------
UTILITIES
----------------------------------
*/

.section {
  background-color: var(--clr-grey-light);
  padding: var(--pad-section);
  margin-bottom: 2rem;
  height: 70vh;
  display: flex;
  align-items: center;
}

.section--wide {
  width: 55%;
}
.section--narrow {
  width: calc(45%-6rem);
}

.default-title {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.default-title .accent {
  font-weight: bold;
}

.default-desc {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Header */
#header {
  display: none;
}

/* Hero */
#hero {
  position: relative;
  display: flex;
  align-items: center;
}

#hero .info {
  width: 37%;
}

#hero .hero-img {
  position: absolute;
  bottom: 0px;
  right: var(--pad-section);
  width: 45%;
}

/* Purpose */

#purpose .purpose-img {
  width: 37%;
  margin-right: 6rem;
  margin-left: auto;
}

#purpose .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#purpose .title-wrapper .default-title {
  margin-bottom: unset;
  margin-left: 2.5rem;
}
#purpose .socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#purpose .socials .social__link {
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-dark-sub);
  color: var(--clr-white);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Poster */

#poster .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#poster.section {
  padding: unset;
}

/* Featured */

#featured .info.section--narrow {
  margin-right: 14rem;
}

#featured .title-wrapper .default-title {
  margin-bottom: unset;
  margin-left: 2.5rem;
}

/* Gallery */
#gallery img {
  width: 33.33%;
  position: relative;
  z-index: 1;
}

#gallery img:nth-child(2) {
  transform: scale(1.5);
  z-index: 2;
}

/* Contacts */
#contacts {
  position: relative;
  flex-direction: column;
}
#contacts .contacts-content {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

#contacts .default-title {
  margin-bottom: 1.5rem;
}

#contacts .default-desc {
  margin-bottom: 2.5rem;
}
#contacts .form {
  width: 60%;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "email subject"
    "msg msg"
    "btn btn";
}

#contacts .form .email {
  grid-area: email;
  border: 1px solid var(--clr-dark);
  background-color: transparent;
  padding: 0.5rem;
}
#contacts .form .subject {
  grid-area: subject;
  border: 1px solid var(--clr-dark);
  background-color: transparent;
  padding: 0.5rem;
}
#contacts .form .message {
  grid-area: msg;
  border: 1px solid var(--clr-dark);
  background-color: transparent;
  padding: 0.5rem;
}
#contacts .form button {
  grid-area: btn;
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 0.5rem;
}
#contacts .bottom {
  position: absolute;
  bottom: 0px;
  display: block;
}

#contacts .bottom p{
  font-size: 10px;
  font-weight: 500;
}