@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
/* 
•	Use font 'Montserrat' for the heading
•	Use font 'Lato' for the text
•	The site should open correctly in the latest version of Chrome


font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* header */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

header {
  z-index: 1;
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  /* background-color: red; */
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 30px;
}

header img {
  width: 180px;
}

header nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: #54606f;
  font-size: 24px;
}

header nav ul li:last-child {
  background-color: #42abf8;
  box-shadow: 0px 3px 10px 0px rgba(66, 171, 248, 0.75);
  border-radius: 100%;
  padding: 10px;
}
header nav ul li:last-child a {
  color: white;
}

.top {
    width: 120px;
    height: 4px;
    border: 3px solid #4baff8;
    position: absolute;
    left: 74%;
    top: 0px;
    z-index: 10;
}

/* main */

/* sertificates */
.sertificates {
  position: relative;
  height: 700px;
}

.sertificates::before {
  content: "";
  background-image: url("./images/hero-certificates.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

.sertificates article {
  margin: 200px 190px 150px 190px;
  position: absolute;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.sertificates .web-content {
  background-color: #29394b;
  width: 65%;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.sertificates .web-content h2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 500;
}

.sertificates .web-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.sertificates .img-wrapper {
  display: flex;
  align-items: flex-end;
}

.img-wrapper img:first-child {
  height: 310px;
  width: auto;
}

.img-wrapper img:last-child {
  height: 350px;
  width: auto;
}

.sertificates > p {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  margin-left: 190px;
  color: #54606f;
  font-size: 24px;
}

/* diploma */

.diploma {
  display: flex;
  flex-direction: column;
  margin: 150px 100px;
  align-items: center;
}
.diploma h2 {
  color: #54606f;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.diploma .info {
  background-color: #f4f5f7;
  font-size: 24px;
  color: #54606f;
  padding: 30px 30px 50px 30px;
}

.diploma .info p {
  margin-bottom: 30px;
}

.diploma p {
  align-self: flex-start;
  margin-top: 20px;
  font-size: 24px;
  color: #54606f;
}

/* explore */

.explore {
  margin-left: 50%;
  transform: translate(-50%);
  width: 80%;
}

.explore img {
    border-radius: 10px;
    width: 100%;
    filter: brightness(40%);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.explore__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  top: 20px;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
}

.explore__wrapper h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.explore__wrapper p {
  font-size: 20px;
  text-align: center;
  width: 1000px;
}

.btn-wrapper {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.btn-wrapper .divider {
  height: 30px;
  border: 1px solid white;
}

.btn-wrapper button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-wrapper button:first-child {
  color: #42abf8;
  border: none;
}

.btn-wrapper button:last-child {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.explore {
  padding-bottom: 100px;
  border-bottom: 1px solid black;
}


/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 30px auto;
    /* background-color: red; */
    padding: 20px 30px;
}
footer .logo-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

footer .logo-wrapper p{
    color: #a3a6a9;

}

footer img {
    width: 180px;
  }
  
  footer nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  footer nav ul li a {
    text-decoration: none;
    color: #54606f;
    font-size: 24px;
  }