body {
    padding: 3% 7%;
    background-color: rgb(238, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.head {
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid black;
}

.head p {
    font-size: 35px;
}

.head__nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.head .head__nav .nav__item {
    display: inline-block;
    letter-spacing: 1.2px;
}

.head .head__nav .nav__item a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}

.head .head__nav .nav__item:not(:last-child) {
    margin-right: 24px;
}

.content {
    width: 70%;
}
.main__article-second__first-section{
    width: 70%;
}
.first-article-div {
    position: relative;
}

img {
    float: right;
    padding: 1%;
}
.main__article-second__first-section__paragraph-left,
.main__article-second__first-section__paragraph-right {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;

}
.main__article-second__first-section__paragraph-left{
border-right: 3px solid rgba(208, 205, 207, 0.56);
}


div.main__article-second__first-section__paragraph-right{
position: absolute;
width: 25%;
padding-left: 5%;
}