body{
    font-family: Helvetica, sans-serif;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 180px;
    color: #4b4a4a;
}

header h2{
    font-size: 34px;
    font-weight: 200;
}
header h2 span{
    color: #008cba;
}
header ul{
    display: flex;
    gap: 50px;
}
header ul li a{
    text-decoration: none;
    color: #4b4a4a;
    font-weight: 500;
    font-size: 24px;
}
header ul .active{
    border-bottom: 4px solid #008cba;
}

/* MAIN */
/* IMG-ADVERTISE */
#img-advertise{
    position: relative;
}

#img-advertise .img-wrapper{
    width: 100%;
}
#img-advertise .img-wrapper img{
    width: 100%;
    object-fit: cover;
}

#img-advertise .form-div{
    position: absolute;
    top: 265px;
    left: 220px;
    background-color: rgb(0 0 0 / 36%);
    color: white;
    font-size: 58px;
    padding: 23px;
}
#img-advertise .form-div p{
    line-height: 1.2;
}

#img-advertise .form-div button{
    background-color: #008cba;
    color: white;
    font-size: 36px;
    border-radius: 50px;
    border: none;
    padding: 6px 54px;
}