@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* font-family: 'Courgette', cursive; */

body {
  font-family: "Courgette", cursive;
}

/* header */
/* .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.header h1 {
  align-self: center;
}

.header h3 {
  align-self: center;
  color: #ca2027;
  text-align: end;
  width: 210px;
} */

body {
  padding-top: 50px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 10px 50px;
  gap: 30px;
}

.header{
  display: flex;
  flex-direction: column;
}

.header h1{
  font-weight: 400;
}

.header h3{
  color: red;
  margin-left: 140px;
  margin-bottom: 20px;
}

.card img{
  border-radius: 15px   15px 0px 0px;

}

.card h3{
margin: 10px 12px;
padding-bottom: 10px;
border-bottom: 1px solid red;
}

.card p{
margin-bottom: 30px;
}
