/* TODO: Add responsive styles here... */

@media (max-width:600px){
    /* Navigation */

    /* body{
        text-align: center;
    } */


    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        margin-right: unset;
    }

    /* Hero section */

    .hero{
        text-align: center;
    }

    .hero > img{
        display: none;
    }

    .hero .hero-btns{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }


    /* About us */

    #about-us{
        padding-bottom: 80px;
    }

    #about-us .service-txt{
        text-align: center;
    }

    #about-us .hero-btns.service-btn{
        margin-bottom: 70px;
    }

    #about-us .row{
        gap:50px;
    }

    #about-us .side2-img img {
        top: 2000px;
    }
    /* About */

    .about{
        margin-bottom: 0px;
    }
    .about .container .row{
        text-align: center;
    }

    .about .container .row>div{
        margin-bottom: 70px;
    }
    
    /* contact us */
    #contact-us .col-12{
        text-align: center;
    }

    #contact-us .hero-btns.contact-btn{
        display: none;
    }
}
