@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Poppins:wght@300;400&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */

body {
    font-family: 'Poppins', sans-serif;
    ;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section .info,
.section .picture {
    width: 50%;
}