@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Poppins:wght@300;400&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(120, 120, 120);
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.section {
    width: 1440px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section .info,
.section .picture {
    width: 50%;
}

.features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.features .feature{
    display: flex;
    align-items: center;
    gap: 16px;
}
.features .feature .feature-icon{
    width: 100px;
}

.features .feature .feature-container .feature-title,
.features .feature .feature-container .feature-title{
    margin: 0px;

}