body {
    width: 80%;
    margin: auto;
}

header {

    border-bottom: 2px solid rgb(0, 0, 0);
    justify-content: space-between;
}

header p {
    text-transform: uppercase;
    font-size: 30px;

}