/* 
•	Add font to the document: Helvetica, sans-serif
•	Use article tag to create an article
o	Divide the article content into header, section and footer tags
•	Use aside tag to create aside for the Latest Posts
•	Use background with color - rgb(238, 238, 238)
•	Use rgb(51, 51, 51) color for the text
 */

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    line-height: 20px;
}

h1,
h2 {
    font-family: Georgia, serif;
}

p {
    color: rgb(51, 51, 51);
}

img {
    width: 500px;
    height: 400px;
}

article {
    width: 70%;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

section ul {
    list-style-type: square;
}

aside ul {
    list-style-type: square;
}